<div class="events--day margin-block-end-double pad-block-end" data-controller="timeline" data-timeline-date-value="<%= activity_day.to_date.iso8601 %>">
  <h2 class="txt-x-large margin-block-end"><%= event_day_title(activity_day) %></h2>

  <div class="center events">
    <%= render_column_headers %>
    <%= render_event_grid_cells(activity_day) %>
    <%= render_time_labels(activity_day) %>

    <% events.each do |_, cluster| %>
      <div class="event--cluster">
        <%= render cluster %>
      </div>
    <% end %>

  </div>

  <p class="events--none txt-align-center">No activity for this day.</p>
</div>
