<%= turbo_frame_tag comment, :reacting do %>
  <div class="reactions">
    <div id="<%= dom_id(comment, :reactions) %>" class="reactions__list">
      <%= render partial: "cards/comments/reactions/reaction", collection: comment.reactions.includes(:reacter).ordered %>
    </div>

    <%= turbo_frame_tag comment, :new_reaction do %>
      <%= render "cards/comments/reactions/quick_reaction", comment: comment do %>
        <button class="reaction__action btn btn--circle" data-action="click->dialog#open:stop">
          <%= icon_tag "reaction" %>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>
